<html>
    <h1>Helllo</h1>
    <form method="POST" action="generate">
          <input type="text" name="myname">
          <button type="submit" >SUBmit</button>
    </form>
    <%if(url){%> 
    <img src="<%= url %>" alt="">
    <% } %>
</html>